.container{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.menu-list__item__link{
    color: white;
    text-decoration: none;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}